/*Introduction*/

.Title
{	font-family: 'Roboto', sans-serif;
	background-color: #333333;
	padding: 3% 9%;
	color:white;
}
.heading
{
	font-family: 'Inter', sans-serif;
	font-size: 60px;
	margin:25px;
}

.heading-undertext
{
	
	
	font-size:20px;	
	margin:25px;

}

.available
{
	
	color: white;
	font-size:20px;	
	text-decoration: none;
	margin:25px;
}

/*Work Examples*/

.Projects
{	font-family: 'Roboto', sans-serif;
	background-color:#ffffff
	padding:3% 9%;
	color:black;
	text-align: center;
	/*font-size: 60px;*/
}

.header2
{
	font-family: 'Inter', sans-serif;
	padding:50px;
}

.col-md-6
{
	padding-bottom:30px;
}



.card{
    /*border-radius: 4px;*/
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 20px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/*Skills*/

#Skills
{	text-align:center;
	background-color: #e1f4f3;
	font-family: 'Inter', sans-serif;
}

.skill
{
	margin :20px;
	width:180px;
}

/*cta*/
.cta
{	font-family: 'Roboto', sans-serif;
	background-color: #333333;
	padding: 3% 9%;
	color:white;
	text-align:center;
	margin-bottom: 0px;
}

.ctaicons
{
	color:white;
	margin:20px;
	padding-top:30px;
	width:5%;
}
.oomf
{
	background-color: white;
}
